<div class="col-md-12 m-2 title">
  <h2>Pollings</h2>
</div>

<div class="col-md-12  m-2 title" *ngIf="currentPolling">
  <h2>{{currentPolling?.polling_name}}</h2>
  <h3>Polling Dates: {{this.startDate}} thru {{this.endDate}} </h3>

  <div class="form-group m-3" *ngIf="isAdmin" >
    <label for="pollingOrder">Order Clerk Proxy Vote As:</label>
    <select class="form-select col-md-6" (change)="changeVoter($event)">
      <option disabled selected>Voting as Self</option>
      <option *ngFor="let option of orderMemberList" [value]="option.polling_order_member_id">
        {{option.name}}
      </option>
    </select>
  </div>

  <div class="col-md-12 col-xs-6 mt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card card-container custom-card">
            <table mat-table [dataSource]="dataSourcePS" class="mat-table custom-card">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="h6 col-md-3"> Polling Candidate </th>
                <td mat-cell *matCellDef="let element"> <a (click)="viewCandidate('500ms', '1500ms', element)"
                    class="link-primary mt-2 mb-2">{{element.name}} </a></td>
              </ng-container>
              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef class="p-4 h6"> Your Note </th>
                <td mat-cell *matCellDef="let element">
                  <textarea class="form-control mt-2 mb-2 mx-2" name="note" [(ngModel)]="element.note"
                    required></textarea>
                </td>
              </ng-container>
              <ng-container matColumnDef="vote">
                <th mat-header-cell *matHeaderCellDef class="p-4 h6 col-md-2"> Your Vote </th>
                <td mat-cell *matCellDef="let element" class="p-4 h6 mt-2 mb-2 mx-2">
                  <mat-select [(ngModel)]="element.vote" placeholder="Select Your Vote">
                    <mat-option [value]="1">Yes</mat-option>
                    <mat-option *ngIf="pollingOrder.polling_order_id !==1" [value]="2">Wait</mat-option>
                    <mat-option [value]="3">No</mat-option>
                    <mat-option [value]="4">Abstain</mat-option>
                  </mat-select>
                </td>
              </ng-container>
              <ng-container matColumnDef="private">
                <th mat-header-cell *matHeaderCellDef class="p-4 h6 d-flex justify-content-center"> Private Response </th>
                <td mat-cell *matCellDef="let element" class="p-4 h6 mt-2 mb-2 mx-2 d-flex justify-content-center">
                    <input type="checkbox" [value]="element.private" name="private" checked="element.private" [(ngModel)]="element.private" #active="ngModel" class="m-2"/>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsPS"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPS;"></tr>
            </table>
            <div class="col-md-4 m-2 title d-flex align-self-end" *ngIf="!completed">
              <button type="submit" class="btn btn-success m-3" (click)="submitPolling(false)">Save Draft</button>
              <button type="submit" class="btn btn-danger m-3" (click)="submitPolling(true)">Submit Your Polling
                Vote</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 m-2 title" *ngIf="!currentPolling">
  <div class="col-md-12 col-xs-6 mt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>No Active Pollings available</h2>
          You can review the most recent closed polling by going to the
          <a class="nav-link" style="display:inline;text-decoration:underline;" href="report">Report</a> page.
        </div>
      </div>
    </div>
  </div>
</div>