

/*
    --Red-Highlight: #B73225;
    --Blue-Minded: #004E7C;
    --Maroon-6: #591C0B;    
    --Grey-Water: #5C5F58;    
    --Lighter-Grey: #DCE1E3;

    --gold: #eed7a1;
    --blue: #475c6c;
    --grey: #8a8583;
    --burnt: #cd8b62;
    --yellow: #eed7a1;

*/