<div class="col-md-12 m-2 title"  *ngIf="!candidateSelected">
    <h2>Candidates</h2>
</div>
<div class="col-md-12 m-2 title" *ngIf="candidateSelected">
  <h2>Candidate - {{candidateName}}</h2>
</div>
<div class="col-md-6 col-xs-12 mt-5 pb-4" *ngIf="!candidateSelected">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card card-container custom-card">
            <table mat-table [dataSource]="dataSourceCandidates" class="mat-table custom-card">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="p-4 h4"> Candidate List </th>
                <td mat-cell *matCellDef="let element"> <a (click)="viewCandidate(element)"
                  class="link-primary mt-2 mb-2 mx-2">{{element.name}} </a></td>
              </ng-container>  
              <tr mat-header-row *matHeaderRowDef="displayedColumnsCandidates"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsCandidates;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-6 col-xs-12 mt-5 pb-4" *ngIf="candidateSelected">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card card-container custom-card">
            <div class="row">
                <div class="p-4 d-flex justify-content-end">
                  <label for="cn">Create New External Candidate Note</label>
                  <textarea class="form-control ps-4" name="newCandidateName" [(ngModel)]="newExternalNote"
                    required></textarea> 
                    <button type="input" (click)="addExternalNote()" class="btn btn-success mt-2 mb-2">Create
                </button>  
              </div>
            </div>         
          </div>      
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 mt-5 pb-4" *ngIf="candidateSelected">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card card-container custom-card">
            <table mat-table [dataSource]="dataSourceNotes" class="mat-table custom-card">
              <ng-container matColumnDef="external_note">
                <th mat-header-cell *matHeaderCellDef class="p-4 h4"> External Notes </th>
                <td mat-cell *matCellDef="let element"> 
                  <div>"{{element.external_note}}"</div>
                  <div class="px-3 fst-italic">- {{element.polling_order_member_id?.name}} on {{element.en_created_at | date }} </div>
                </td>
              </ng-container>  
              <tr mat-header-row *matHeaderRowDef="displayedColumnsNotes"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsNotes;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  
TODO:// 
ADD EXTERNAL Notes


View Polling Notes


