<div class="col-md-12 m-2 title">
    <h2>Delete AEPolling Account</h2>
</div>

<div class="col-md-12 mt-5">
    <div class="card card-container custom-card">

        <p style="font-weight: bold; font-size: 1.3em;">
            <br>To delete your AE Polling account, please contact your order clerk by going to
            <a href="https://aethelmearc.org/groups/polling-orders/" target="_blank">Kingdom Polling Order</a>
            page. <br><br>
            If your clerk is unresponsive, please contact the Kingdom Webminister
            by going to the <a href="https://aethelmearc.org/officers/webminister/" target="_blank">Office of the Web
                Minister</a> page.
            <br><br>
            After recieving your request, your Order Clerk or the Kingdom Web Minister will remove your account which
            will delete all data associated with you.
        </p>
    </div>
</div>