.nav-color {
    background-color: var(--burnt);
    font-size: medium;
}
.nav-link {
    color: var(--yellow);
}
.nav-link:hover {
    color: var(--Grey-Water);
}
.navbar-brand {
    color: var(--So-Blue);
    font-size: xx-large;
}

.navbar-brand:hover {
    color: var(--Grey-Water);
}
