<div id="app">
  <nav class="px-2 p-0 navbar navbar-expand-sm navbar-dark nav-color">
    <div class="container">
      <button class="navbar-toggler p-0 m-0" type="button" data-bs-toggle="collapse" data-bs-target="#n_bar"
        aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#" class="d-sm-block d-md-none d-lg-none d-xl-none navbar-brand">
        <span class="comeBack_up" 
        *ngIf="(this.pollingOrder.polling_order_name) == null">Polling
      </span>
        {{this.pollingOrder.polling_order_name}}
      </a>
      <a href="#" class="d-none d-md-block d-lg-block d-xl-block navbar-brand">Polling {{this.pollingOrder.polling_order_name}}</a>

      <div class="collapse navbar-collapse" id="n_bar">
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
              <a href="/register" class="nav-link" routerLink="register">Register</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
          </ul>
          <li class="nav-item" *ngIf="showAdmin">
            <a href="/admin" class="nav-link" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="profile">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/pollings" class="nav-link" *ngIf="isLoggedIn" routerLink="pollings">Pollings</a>
          </li>
          <li class="nav-item">
            <a href="/candidates" class="nav-link" *ngIf="isLoggedIn" routerLink="candidates">Candidates</a>
          </li>
          <li class="nav-item">
            <a href="/report" class="nav-link" *ngIf="isLoggedIn" routerLink="report">Report</a>
          </li>
          <li class="nav-item" *ngIf="hasPolicies">
            <a href="/policies" class="nav-link" routerLink="policies">Policies</a>
          </li>
          <li class="nav-item">
            <a href="/feedback" class="nav-link" *ngIf="isLoggedIn" routerLink="feedback">Feedback</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>

        <div class="navbar-nav ms-auto">
          <a href="https://play.google.com/store/apps/details?id=com.pollingandroid" target="_blank" class="nav-link">
            <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" 
                 style="height: 40px; width: auto;">
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
