.nav-color {
    background-color: var(--burnt);
    font-size: medium;
}

.nav-link {
    color: var(--yellow);
    cursor: pointer !important;
}

.nav-link:hover {
    color: var(--Grey-Water);
}

.navbar-brand {
    color: var(--So-Blue);
    font-size: x-large;
    padding-left: .25rem;
}

.navbar-brand:hover {
    color: var(--Grey-Water);
}

.navbar {
    text-align: left;
}

.navbar-toggler {
    vertical-align: left;
}