<div class="col-md-12 mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-container custom-card">
          <form [formGroup]="orderAdminForm" (ngSubmit)="openDialog('500ms', '1500ms', false)">
            <div class="form-group m-3">
              <label for="pollingOrder">Order Clerk</label>
              <select class="form-select" formControlName="orderAdmin" (change)="changeOrderAdmin($event)">
                <option disabled>Choose Value</option>
                <option *ngFor="let option of orderMemberList" [value]="option.polling_order_member_id">
                  {{option.name}}
                </option>
              </select>
            </div>
            <div class="form-group m-3 d-flex justify-content-end">
              <button type="submit" class="btn btn-success mt-3"  [disabled]="!changeAdminOccurred">Update Clerk</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col">
        <div class="card card-container custom-card">
          <form [formGroup]="orderAdminAsstForm" (ngSubmit)="openDialog('500ms', '1500ms', true)">
            <div class="form-group m-3">
              <label for="pollingOrder">Order Assistant Clerk</label>
              <select class="form-select" formControlName="orderAdminAsst" (change)="changeOrderAdminAsst($event)">
                <option disabled>Choose Value</option>
                <option *ngFor="let option of orderMemberList" [value]="option.polling_order_member_id">
                  {{option.name}}
                </option>
              </select>
            </div>

            <div class="form-group m-3 d-flex justify-content-end">
              <button type="submit" class="btn btn-success mt-3" [disabled]="!changeAsstOccurred">Update Assistant Clerk</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
