<div class="col-md-12 m-2 title">
    <h2>Forgot Password</h2>
</div>

<div class="col-md-12 mt-5">
    <div class="card card-container custom-card">

       <div *ngIf="messageSent">
        If your account information as found you will recieve an email with additional instructions.
       </div>



        <form *ngIf="!messageSent" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group m-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
                <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
                    Email is required!
                </div>
            </div>

            <div class="form-group m-3">
                <label for="pollingOrder">Polling Order</label>
                <select name="pollingOrder" id="#" class="form-select" [(ngModel)]="form.pollingOrder"
                    #pollingOrder="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && pollingOrder.errors }">
                    <option [ngValue]="null" selected disabled>Select Polling Order</option>
                    <option *ngFor="let option of pollingOrderList" [ngValue]="option">
                        {{ option.polling_order_name }}
                    </option>
                </select>

                <div *ngIf="pollingOrder.errors && f.submitted" class="invalid-feedback">
                    pollingOrder is required!
                </div>
            </div>
            
           
            <div class="form-group m-3">
                <button class="btn btn-primary btn-block">
                    Send New Password Info
                </button>
            </div>
            <div class="form-group">
                <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
                    Send failed: {{ errorMessage }}
                </div>
            </div>
        </form>
    </div>
</div>