<div class="col-md-12 col-xs-6 mt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card card-container custom-card">
                    <div class="p-4">

                        <h2>Welcome to the Polling Website!</h2>

                        If your order has been setup to use this application you can complete the following tasks:
                        <br><br>
                        <h3>Visitor (Not Logged In):</h3>
                        <ul>

                            <p><span>Register Page:</span></p>
                            <ul>
                                <li><span>Order Members can register for an account on this
                                        page</span></li>
                                <li><span>After registering new members will need to wait for
                                        approval from the order clerk or assistant clerk</span></li>
                                <li><span>You will need to register for each order you are a
                                        member of</span></li>
                            </ul>
                            <p><span></span></p>
                            <p><span>Login Page:</span></p>
                            <ul>
                                <li><span>Login to website once your registration has been
                                        approved</span></li>
                                <li><span>You can reset your password here if you have
                                        forgotten it</span></li>
                            </ul>
                            <p><span></span></p>
                        </ul>

                        <h3>Member (Logged In):</h3>
                        <ul>
                            <p><span>Profile Page:</span></p>
                            <ul>
                                <li><span>Update your name, email and password</span></li>
                                <li><span>Set yourself to active or inactive</span></li>
                            </ul>
                            <ul><ul>
                                <li><span>This is in case you still want order access but do
                                        not want to be considered for purposes of pollings</span></li>
                            </ul></ul>
                            <p><span></span></p>
                            <p><span>Pollings Page:</span></p>
                            <ul>
                                <li><span>If there is not an active polling this page will
                                        indicate this</span></li>
                                <li><span>If there is a polling active, all candidates the
                                        order clerk/assistant has added will be available for your notes and
                                        vote.</span>
                                </li>
                            </ul>
                            <ul>
                                <li><span>You can save as a draft your notes/votes, these will
                                        not be viewable by the rest of the order</span></li>
                                <li><span>Once you submit your polling vote/note you cannot
                                        change them, but they will be viewable by all members of the order</span>
                                </li>
                                <li><span>You can view each candidate&#39;s notes/votes by
                                        clicking their name, this will open a small window, and will not reset any
                                        information
                                        you have entered into the form.</span></li>
                            </ul>
                            <ul>
                                <li><span>Votes available (dependent on your order) are:</span></li>
                            </ul>
                            <ul>
                                <ul>
                                    <li><span>Yes, this candidate is ready to join the
                                            order</span></li>
                                    <li><span>Wait, this candidate is showing good progress but is
                                            not yet ready to join the order</span></li>
                                    <li><span>No, this candidate is not ready to join the
                                            order</span></li>
                                    <li><span>Abstain, you do not have an opinion on this
                                            candidate</span></li>
                                </ul>
                            </ul>
                            <p><span></span></p>
                            <p><span>Candidates Page:</span></p>
                            <ul>
                                <li><span>You can view all candidates in the system for your
                                        order and view external (notes not given for a polling) as well as notes that
                                        have
                                        been
                                        submitted for pollings.</span></li>
                                <li><span>You can also create an external note for a candidate
                                        after selecting their name. </span></li>
                            </ul>
                            <p><span></span></p>


                            <p><span>Polling Report page:</span></p>
                            <ul>
                                <li><span>Create a report of which
                                candidates should be recommended based on the most recent closed polling and
                                participation/percentage of &ldquo;Yes&rdquo; votes. This page will also allow Order
                                Clerks to download this
                                report to PDF.</span></li>
                            </ul>

                        </ul>
                       <h3>Order Clerk/Assistant (Logged In):</h3>
                        <ul>
                            <p><span>Admin Page:</span>
                            </p>
                            <ul>
                                <li><span>You can set the order and assistant clerks</span>
                                </li>
                                <li><span>You can approve new registrations (you must remove
                                        their candidate profile at this time!)</span></li>
                                <li><span>You can remove members (they will still be in the
                                        system just flagged to not be able to login anymore. This is a nuclear option
                                        and
                                        should
                                        be used in the case of permanent removal from the order.</span></li>
                                <li><span>You can deactivate members, this will make them not
                                        count towards participation percentages if required by your order</span></li>
                                <li><span>You can add or remove candidates</span></li>
                                <li><span>You can create pollings and select all or specific
                                        candidates</span></li>
                                <li><span>You can remove pollings</span></li>
                            </ul>
                            <p><span></span></p>

                        </ul>
                        <br>

                    <h3><i>Functionality not completed yet:</i></h3>
                        <ul>
                            <li><span>Ability for order clerks to upload images for each candidates page</span></li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>